In [3]:
import pandas as pd

df = pd.read_csv("routes.csv")

In [4]:
df.head()

df[df[" source airport"] == "CAI"].head()

,airline,airline ID,source airport,source airport id,destination apirport,destination airport id,codeshare,stops,equipment
998,4D,442,CAI,1128,TLV,1590,NaN,0,E70
3332,8U,32,CAI,1128,BEN,1154,NaN,0,320
3333,8U,32,CAI,1128,TIP,1157,NaN,0,320 332
4316,A3,96,CAI,1128,ATH,3941,NaN,0,738
9247,AF,137,CAI,1128,CDG,1382,NaN,0,332 343